<div class="container">
 <ul class="list-group">
  <li class="list-group-item list-group-item-success">
    <b>How many users have selected "I own an iPhone AND I travel by car":</b> <span class="badge">{{getMultipleCount([{responseIndex: 0, questionId: 6}, {responseIndex: 1, questionId: 5}])}}</span>
  </li>
  <li *ngFor="let question of questions" class="list-group-item list-group-item-success">
    <ul class="list-group"><b>{{question.question}}</b>
      <li class="list-group-item list-group-item-info" *ngFor="let answer of question.answers; let j=index">{{answer}}<span class="badge">{{getCount(j,question.id)}}</span></li>
    </ul>
  </li>
</ul>
</div>

