<div class="container">
  <form #form (submit)="save($event, form)">
    <div class="form-group">
      <label class="">Email:</label>
      <input #email [(ngModel)]="activeEmail" class="form-control" type="email" name="email" (change)="setEmail(email.value)">
    </div>

    <div class="form-group" *ngFor="let question of questions; let j=index">
      <label class="">{{question.question}}</label>
      <select required class="form-control input-lg"  #contextresponse  (change)="setResponse(question.id, contextresponse.value)" name="{{question.id}}">
        <option disabled [value]="undefined" selected>Select...</option>
        <option  *ngFor="let response of question.answers; let i=index" [value]="i">
         {{response}}
        </option>
      </select>
    </div>
    <button class="btn btn-success btn-lg">Send</button>
  </form>
</div>
